<h1>Affichage accommodations</h1>

<% @journey_accommodations.each do |journey_accommodation| %>
    <li><%= journey_accommodation.accommodation.name %></li>
<% end %>

<button>Ce choix me convient</button>

<%= link_to "Proposer un lieu où dormir",  new_journey_journey_accommodation_path(@journey) %>


