<h1>Affichage activités</h1>

<% @journey_activities.each do |journey_activity| %>
    <li><%= journey_activity.activities.name%></li>
    <li><%= journey_activity.activities.details%></li>
<% end %>
<button>Ce choix me convient</button>
<%= link_to "Proposer une activité", new_journey_journey_activity_path(@journey) %>
