<% defined?(step) ? step = step : step = "default" %>
<div class="journey-date-card flex items-stretch shadow-md bg-white w-full rounded-lg overflow-hidden">
  <div class="flex flex-col items-center gap-2 px-4 py-2 grow">
    <%= render "shared/date" %>
    <div class="flex items-center justify-center gap-2">
      <span class="text-great-blue-300">du</span>
      <span class="text-great-blue-600 font-bold"><%= journey_date.start_date.strftime("%d/%m/%Y")%></span>
      <span class="text-great-blue-300">au</span>
      <span class="text-great-blue-600 font-bold"><%= journey_date.end_date.strftime("%d/%m/%Y")%></span>
    </div>
  </div>
  <% if step == "vote" %>
    <div class="journey-date-card__vote">
      <%= render "shared/drag" %>
    </div>
  <% end %>
</div>