<h1>Votez</h1>

<div class="cards-sortable">
    <% @journey_dates.each do |journey_date| %>
        <li><%= journey_date.start_date%></li>
        <li><%= journey_date.end_date%></li>
    <% end %>
</div>

<%= link_to "Je valide mon vote", accommodations_votes_path(@journey) %>
