<%= form_with url: users_search_path, method: :post do |form| %>
  <%= form.search_field :nickname_search, value: params[:nickname_search], oninput: "this.form.requestSubmit()" %>
<% end %>
<div id="search_results">
</div>
