<div class="breadcrumbs flex items-center mb-12">
  <% items = %w[budget location date vote1 activity vote2] %>
  <% inactive = "fulfilled" %>
  <% items.each do |item| %>
    <% if step == item %>
      <% color = "active" %>
      <% inactive = "unfulfilled" %>
    <% else %>
      <% color = inactive %>
    <% end %>
    <div class="flex items-center justify-center relative <%= color %>">
      <div class="flex items-center justify-center">
        <%= render "shared/#{item}", color: color %>
      </div>
    </div>
  <% end %>
</div>