.waiting__top_icon {
  @apply bg-white shadow-md flex items-center justify-center;
  height: 48px;
  width: 48px;
  border-radius: 50%;;
  margin-top: -24px;
  margin-left: auto;
  margin-right: auto;
}

.waiting__top svg {
  width: 32px;
  height: 32px;
  transform: rotate(10deg);
}

.waiting__top svg .sandglass {
  @apply stroke-warning;
}

.waiting__top svg .checked {
  @apply stroke-success;
}

.waiting__status.warning {
  flex-direction: row;
  background: white;
}

.waiting__status.good {
  flex-direction: row-reverse;
  background: white;
}

.warning .avatar,
.good .avatar {
  border-width: 3px;
  width: 52px;
  height: 52px;
}
