<%= form_with url: locations_search_path, method: :post do |form| %>
  <span class="input-search">
    <%= form.search_field :locations_search, oninput: "this.form.requestSubmit()", placeholder: "Entrez une ville" %>
  </span>
  <%= hidden_field :journey, :id %>
<% end %>
<div id="locations_results">
</div>