<h1>Ajout d'un lieu</h1>

<%= form_with model: [@journey, @journey_location] do |form| %>
  <%= form.label :location_id %>
  <%= form.select :location_id, @select_locations %>
  <%= form.submit "Ajouter une ville" %>
<% end %>



