.banner{
  background-size: cover;
  background-position: center;
  height: 220px;
  background-image: url('img_banner.jpg');
  background-position: bottom;
}

.banner h1{
  text-align: center;
  font-size: 36px;
  color: black ;

}

.banner p{
  color:black ;
  text-align: center;
}
