.breadcrumbs>div {
  width: calc(100% / 6);
}

.breadcrumbs>div::after {
  @apply bg-default;
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  right: -6px;
  top: 50%;
}

.breadcrumbs>div>div {
  @apply w-9 h-9;
  border-radius: 50%;
}

.breadcrumbs>.active>div {
  background: var(--gradient-dark);
}

.breadcrumbs>div.fulfilled::after {
  @apply bg-great-blue-500;
}

.breadcrumbs>div:last-of-type::after {
  content: unset;
}

.breadcrumbs>div svg {
  height: 24px;
  max-width: 24px;
}

.breadcrumbs>div svg .active {
  @apply stroke-white;
}

.breadcrumbs>div svg .fulfilled {
  @apply stroke-great-blue-500;
}

.breadcrumbs>div svg .unfulfilled {
  @apply stroke-default;
}

.breadcrumbs>div svg path,
.breadcrumbs>div svg polygon,
.breadcrumbs>div svg polyline,
.breadcrumbs>div svg line,
.breadcrumbs>div svg rect,
.breadcrumbs>div svg circle,
.breadcrumbs>div svg ellipse {
  stroke-width: 4px!important;
}