.content_title svg {
  width: 24px;
  height: 24px;
}

.content_title svg .calendar {
  @apply stroke-great-blue-700;
}

.content_members .avatar {
  margin-left: -8px;
}
.content_members .avatar:first-of-type {
  margin-left: 0; 
}

.journey-card__button {
  @apply bg-great-blue-200 flex items-center justify-center;
  background: var(--gradient-light);
  width: 48px;
}

.journey-card__button svg {
  width: 16px;
  height: 32px;
  transform: rotate(180deg);
}

.journey-card__button svg .back {
  stroke: white;
}
