.content_members .avatar {
  margin-left: -8px;
}

.content_members .avatar:first-of-type {
  margin-left: 0; 
}

.content_status svg {
  width: 20px;
  height: 20px;
}

.journey-card__button {
  @apply bg-great-blue-200 flex items-center justify-center;
  background: var(--gradient-light);
  width: 48px;
}

.journey-card__button svg {
  width: 16px;
  height: 32px;
  transform: rotate(180deg);
}

.journey-card__button svg .arrow {
  stroke: white;
}
