.journey-activity-card__image {
  @apply relative;
  width: 96px;
}

.journey-activity-card__image img {
  @apply absolute left-0 top-0 w-full h-full;
  width: 96px;
  height: 100%;
  object-fit: cover;
}

.journey-activity-card__vote {
  @apply bg-great-blue-200 flex items-center justify-center p-2;
}

.journey-activity-card__vote svg {
  width: 16px;
  height: 16px;
}

.journey-activity-card__vote svg line {
  @apply stroke-white;
}