@import "tailwindcss/base";
@import "tailwindcss/components";

/* Main styles */
@import "base";

/* Sections */
@import "sections/header";

/* Components */
@import "components/buttons";
@import "components/card";
@import "components/banner";
@import "components/avatar";
@import "components/breadcrumbs";

/* Cards */
@import "components/journey_card";
@import "components/journey_location_card";

/* Other */
@import "tailwindcss/utilities";
@import "flatpickr/dist/flatpickr.css";
