html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

h1 {
  @apply text-2xl font-bold text-great-blue-500 uppercase tracking-wide;
}

h2 {
  @apply text-xl font-bold text-great-blue-800 tracking-wide;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"] {
  @apply w-full rounded-3xl px-6 bg-white border border-great-blue-300;
  min-height: 48px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.icon64 svg {
  height: 64px;
}
