:root {
  --gradient-light: linear-gradient(90deg, rgba(156, 215, 229, 1) 0%, rgba(108, 185, 216, 1) 100%);
  --gradient-dark: linear-gradient(90deg, rgba(35, 75, 131, 1) 0%, rgba(42, 102, 159, 1) 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

h1 {
  @apply text-2xl font-bold text-great-blue-500 uppercase tracking-wide;
}

h2 {
  @apply text-xl font-bold text-great-blue-800 tracking-wide;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"] {
  @apply w-full rounded-3xl px-6 bg-white border border-great-blue-300;
  min-height: 48px;
}

input[type="search"],
input[type="number"] {
  padding-right: 48px;
}

.input-search,
.input-euro {
  @apply relative;
}

.input-search::after {
  content: '';
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  background-image: url(search.svg);
  top: 50%;
  transform: translateY(-50%);
}

.input-euro::after {
  @apply text-great-blue-300;
  content: '€';
  font-size: 24px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.icon64 svg {
  height: 64px;
}

.details-text {
  @apply text-base text-great-blue-500;
}
