<div class="journey-card flex items-stretch shadow-md bg-white w-full gap-4 rounded-lg overflow-hidden">
  <div class="journey-card__content grow p-4 flex flex-col gap-4">
    <div class="content_title flex items-center pb-2 gap-4 border-b border-great-blue-200">
      <%= render "shared/date" %>
      <h2><%= journey.name %></h2>
    </div>
    <% unless journey.journey_members.size < 1 %>
      <div class="content_members">
        <% journey.journey_members.each do |member| %>
          <%= render "users/avatar", user: member.user %>
        <% end %>
      </div>
    <% end %>
    <div class="content_status">
      <span>Avancement :</span>
      <strong>
        <% case journey_member_id.status%>
          <% when "default" %>
            Budget à définir
          <% when "budget_defined" %>
            Budget défini
          <% when "locations_accepted" %>
            Lieux validés
          <% when "locations_voted" %>
            Lieux votés
          <% when "dates_accepted" %>
            Dates acceptées
          <% when "dates_voted" %>
            Dates votées
          <% when "activities_accepted" %>
            Activités acceptées
          <% when "activities_voted" %>
            Activités votées
        <% end %>
      </strong>
    </div>
  </div>
  <div class="journey-card__button">
    <%= render "shared/back" %>
  </div>
</div>