<div class="summary-budget shadow-md bg-white w-full gap-4 rounded-lg overflow-hidden flex items-center justify-center p-4">
  <div class="flex items-center shrink-0">
    <%= render "shared/budget" %>
  </div>
  <div class="flex items-center">
    <span>
      Votre budget logement et activités s'élève à 
      <span class="font-bold text-great-blue-500"><%= @journey_total_budget %> €</span>.
    </span>
  </div>
</div>