<h1>Félicitations tout le monde a voté le lieu et la date</h1>
<p>Vous partez à : <%= @city_voted.location.city %></p>
<p>Vous partez du <%= @date_voted.start_date.strftime("%d/%m/%Y") %> au  <%= @date_voted.end_date.strftime("%d/%m/%Y") %>
<h3>A présent, vous pouvez voir et proposer des activités</h3>
<%= link_to "Les activités", journey_journey_activities_path(@journey) %>
