<h1>Félicitations tout le monde a voté le lieu et la date</h1>
<p>Vous partez à ... du ... au ...</p>
<h3>A présent, vous pouvez voir et proposer des activités</h3>
<%= link_to "Les activités", journey_journey_activities_path(@journey) %>
