<div class="banner">
    <h1>WEEK ZEN</h1>
    <p>L'application qui vous aide à organiser vos séjours entre amis</p>
</div>

<div class="container">
  <h2>Mes week-end en cours</h2>
  <h2>Mes week-end passés</h2>
<%= link_to "Créer un week-end", new_journey_path, class:"button primary" %>
</div>
