<div class="banner">
    <h1>WEEK ZEN</h1>
    <p>L'application qui vous aide à organiser vos séjours entre amis</p>
</div>

<div class="container">
  <%= link_to "Créer un week-end", new_journey_path, class:"btn-tail" %>
  <h2>Mes week-end en cours</h2> 
  <% @journeys.each do |journey| %>
    <%= link_to journey_path(journey), class:"btn-tail" do %>
      <%= journey.name %>
    <% end %>
  <% end %>
</div>
