<h1>Il est temps de faire vos valises! <i class="fa-solid fa-suitcase"></i></h1>
<h2>Votre futur week-end</h2>

<i class="fa-solid fa-calendar"></i><p>Vous partez du au ... </p>
<i class="fa-solid fa-location-dot"></i><p> Dans la ville de...</p>
<i class="fa-solid fa-person"></i><p>avec <%= @journey_members.length %> personnes</p>
<i class="fa-solid fa-piggy-bank"></i><p>Avec un budget de <%= @budget_total %>€</p>
<i class="fa-solid fa-house-user"></i><p>Quelques propositions de logements <a href="https://www.airbnb.fr/" >ici</a></p>
