<h1>Félicitations, tout le monde a voté!</h1>
<h2>Votre futur week-end</h2>
<p>Vous partez du ... au ... </p>
<p>à ... </p>
<p>avec ... personnes</p>
<p>pour un budget de ...€</p>
<p>Quelques propositions de logements ici.</p>

