<ul class= "cards-sortable">
  <li class="card" data-journey-location-id="1" data-ranking="4">Test 1</li>
  <li class="card" data-journey-location-id="2" data-ranking="3">Test 2</li>
  <li class="card" data-journey-location-id="3" data-ranking="2">Test 3</li>
  <li class="card" data-journey-location-id="4" data-ranking="1">Test 4</li>
</ul>
